.content {
  display: flex
}

.sidebar {
  width: 20%;
  height: 100vh;
  overflow: auto;
  padding: 1em 0;
}

.sidebar .logo {
  padding: 1em;
  position: sticky;
  top: 0;
  background: white

}

.sidebar h2 {
  padding: 1em 0;
}

.sidebar ul {
  list-style-type: none;
  margin-left: 0;
}

.sidebar ul em {
  font-size: .8em;
}


.sidebar ul li {
  padding: .8em;
}


.sidebar ul li:nth-child(odd) {
  background: #f2f2f2;
}
